/* Klinic Slab */

@font-face {
	font-family: 'Klinic Slab';
	src: url('../fonts/klinic_slab/KlinicSlabMedium.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Klinic Slab';
	src: url('../fonts/klinic_slab/KlinicSlabMediumIt.otf');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Klinic Slab';
	src: url('../fonts/klinic_slab/KlinicSlabLight.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Klinic Slab';
	src: url('../fonts/klinic_slab/KlinicSlabLightIt.otf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Klinic Slab';
	src: url('../fonts/klinic_slab/KlinicSlabBold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Klinic Slab';
	src: url('../fonts/klinic_slab/KlinicSlabBoldIt.otf');
	font-weight: bold;
	font-style: italic;
}